<div *ngIf="openerUrl" class="bg-warning-subtle border border-black text-center">Notice: This page is sending changes
  back to the page that opened it, <span class="text-primary">{{ openerUrl }}</span></div>
<div class="page-defaults container-fluid bg-white shadow">
  <lfb-header id="fixedTop"
    [showCreateButton]="guidingStep === 'home'"
    (createQuestionnaire)="createQuestionnaireFromScratch()">
  </lfb-header>
  <div id="resizableMiddle">
    <a target="_self" id="exportAnchor" class="d-none">Export</a>
    <input #fileInput class="d-none" type="file" (change)="onFileSelected($event)" (click)="fileInput.value = null;">
    <div class="card bg-danger-subtle m-auto w-75" *ngIf="lformsErrorMessage">
      <div class="card-header d-flex justify-content-center"><h6 class="card-title">Error</h6></div>
      <div class="card-body">{{ lformsErrorMessage }}</div>
    </div>
    <ng-container *ngIf="guidingStep === 'home'">
      <ng-container *ngTemplateOutlet="home"></ng-container>
    </ng-container>
    <ng-container *ngIf="guidingStep === 'fl-editor' || guidingStep === 'item-editor'">
      <div class="editor-body">
        <!-- Navigation row (on gray background) -->
        <div class="editor-nav-row">
          <button class="editor-nav-btn" type="button" (click)="close()">
            <mat-icon>arrow_back</mat-icon>
            <span>Back</span>
          </button>
          <button class="editor-nav-btn" type="button" *ngIf="isAdmin" (click)="setStep('create-terminology-resources')">
            <span>Terminological resources</span>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>

        <!-- Title bar (white card on gray background) -->
        <div class="editor-subheader">
          <div class="editor-title-block">
            <div class="editor-title">{{ questionnaire?.title || '—' }}</div>
            <div class="editor-subtitle" *ngIf="questionnaire?.name">#{{ questionnaire.name }}</div>
          </div>

          <div class="editor-actions">
            <button class="editor-icon-btn" type="button" matTooltip="Preview" (click)="showPreviewDlg()">
              <mat-icon>pageview</mat-icon>
            </button>
            <button class="editor-icon-btn" type="button" matTooltip="Load" (click)="importFromFHIRServer()">
              <mat-icon>cloud_download</mat-icon>
            </button>
            <button class="editor-icon-btn" type="button" matTooltip="Validate" (click)="validateQuestionnaire()">
              <mat-icon>verified_user</mat-icon>
            </button>
            <button class="editor-icon-btn" type="button" matTooltip="Export JSON" (click)="saveToFile()">
              <mat-icon>upload_file</mat-icon>
            </button>
            <button class="editor-icon-btn" type="button" matTooltip="Duplicate" (click)="onDuplicate()">
              <mat-icon>content_copy</mat-icon>
            </button>
            <button class="editor-icon-btn" type="button" matTooltip="Help" (click)="goToHelp()">
              <mat-icon>help_outline</mat-icon>
            </button>
            <button class="editor-icon-btn" type="button" matTooltip="Report an issue" (click)="reportBug()">
              <mat-icon>bug_report</mat-icon>
            </button>
            <button class="editor-icon-btn" type="button" matTooltip="Import JSON" (click)="fileInput.click()">
              <mat-icon>format_list_bulleted</mat-icon>
            </button>
            <button class="editor-btn-save" type="button" matTooltip="Save"
                    (click)="save()" [disabled]="isReadOnly || !questionnaire">
              Save
            </button>
          </div>
        </div>

        <app-alert></app-alert>
        <div class="editor-panels">
          <!-- Left panel: General information (collapsible) -->
          <div class="panel-collapsible" [class.panel-collapsed]="!leftPanelOpen">
            <div class="panel-collapsed-bar" [class.hidden]="leftPanelOpen" (click)="leftPanelOpen = true">
              <mat-icon class="panel-expand-icon">chevron_right</mat-icon>
              <span class="panel-collapsed-title">General information</span>
            </div>
            <lfb-form-fields [class.hidden]="!leftPanelOpen" class="editor-panel-left"
                             [questionnaire]="formFields"
                             (questionnaireChange)="formFieldsChanged($event)"
            ></lfb-form-fields>
            <button [class.hidden]="!leftPanelOpen" class="panel-collapse-btn" type="button"
                    (click)="leftPanelOpen = false" matTooltip="Collapse">
              <mat-icon>chevron_left</mat-icon>
            </button>
          </div>

          <!-- Middle + Right panels: Tree + Item properties (managed by item-component) -->
          <lfb-item-component class="editor-panel-right"
                              [questionnaire]="questionnaire"
                              (itemChange)="itemComponentChanged($event)"
          ></lfb-item-component>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="guidingStep === 'create-terminology-resources'">
      <ng-container *ngTemplateOutlet="createTerminologyResources"></ng-container>
    </ng-container>
  </div>
  <lfb-footer id="fixedBottom"></lfb-footer>
</div>


<mat-menu #advancedMenu="matMenu">
  <button mat-menu-item (click)="onDuplicate()">
    <mat-icon>content_copy</mat-icon>
    <span>Duplicate the current form</span>
  </button>
  <button mat-menu-item (click)="fileInput.click()">
    <mat-icon>save_alt</mat-icon>
    <span>Import a form from local JSON file</span>
  </button>
  <button mat-menu-item (click)="saveToFile()">
    <mat-icon>save</mat-icon>
    <span>Export JSON file of the current form</span>
  </button>
  <button mat-menu-item (click)="validateQuestionnaire()">
    <mat-icon class="menuIcon">verified_user</mat-icon>
    <span>Validation (beta)</span>
  </button>
</mat-menu>

<ng-template #home>
  <div class="page-content">
    <lfb-fhir-search-page [hasResumeFormOption]="isAutoSaved() && !isDefaultForm()"
    (selectedQuestionnaire)="onQuestionnaireSelected($event)"
    (resumeTheLastForm)="onResumeTheLastForm()"
    (importFromLocalFile)="onImportQuestionnaireFromLocalFile()"></lfb-fhir-search-page>
  </div>


</ng-template>

<ng-template #createTerminologyResources>
  <create-terminology-resources questionnaire="{{questionnaire}}"></create-terminology-resources>
</ng-template>


<ng-template #warnFormLoading let-modal>
  <div role="dialog" aria-labelledby="warningDlgTitle" class="modal-header bg-primary">
    <h4 id="warningDlgTitle" class="modal-title text-white">Replace existing form?</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()">
    </button>
  </div>
  <div class="modal-body">
    This will overwrite the content currently in the form builder. If you wish to save the form currently in the form
    builder, select Cancel. Otherwise, select Continue to overwrite the current form.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close(true)">Continue</button>
    <button type="button" class="btn btn-primary" (click)="modal.dismiss()">Cancel</button>
  </div>
</ng-template>

<ng-template #duplicateEntryDetectedForm let-modal>
  <div role="dialog" aria-labelledby="warningDlgTitle" class="modal-header bg-danger">
    <h4 id="warningDlgTitle" class="modal-title text-white">Duplicate Entry Detected</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss()">
    </button>
  </div>
  <div class="modal-body">
    A questionnaire with the same URL and version already exists on the server. Please update the URL or version before saving.
  </div>
</ng-template>



